$bgcolor: rgb(185, 162, 185)
$size: 1em

body {
background-color: $bg-color
margin: $size * 2
}

h1 {
    font-family: $Verdana, Geneva, Tahoma, sans-serif;
}

header{
    height: 500px;
}